#responsiveTools {
   background: #fff;
   
   .navbar {
      position: absolute;
      width: 100%;
      height: 60px;
      float: left;
      float: right;
      display: flex;
   }
   .menu {
      width: 93px;
      height: 54px;
      margin: 5px 5px 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 13px rgba(0, 0, 0, .15)
   }
   
   .icon-menu-mobile,
   .icon-menu-tablet,
   .icon-menu-desktop,
   .icon-menu-custom-screen {
      text-align: center;
   }
   
   .icon-img {
      width: 20px;
      height: 20px;
   }

   .icon-text {
      color: #A0A0A0;
      white-space: nowrap;
      text-align: center;
      font-size: 8px;
   }
   
   /*.iframes {
      position: absolute;
      bottom: 0;
      transform: scale(0.25);
      transform-origin: 0 0;
      background: pink;
      width: 100vh;
      height: 100vh;
   }*/
}