#responsiveTools {
   background: #fff;
   
   .navbar {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 60px;
      float: left;
      float: right;
      display: flex;
   }
   
   .menu {
      width: 93px;
      height: 54px;
      margin: 5px 5px 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      // box-shadow: 0 0 13px rgba(0, 0, 0, .15);
   }
   
   .icon-menu-mobile,
   .icon-menu-tablet,
   .icon-menu-desktop,
   .icon-menu-custom-screen {
      text-align: center;
   }
   
   .icon-img {
      width: 20px;
      height: 20px;
   }

   .icon-text {
      color: #A0A0A0;
      text-align: center;
      font-size: 8px;
   }
   
   /*menu list*/
   .menu-list {
      width: 130px;
      position: absolute;
      background: #fff;
      top: 75px;
      box-shadow: 0 0 13px rgba(0, 0, 0, .15);
      border-radius: 5px;
   }
   
   ul { 
      list-style-type: none;
   }
   
   
   li {
      margin-bottom: 6px;
   }
   
   a span {
      display: block;
   }
   
   a {
      font-size: 10px;
      color: black;
      font-family: bold;
   }
   
   span {
      color: #A0A0A0;
   }
   
   .list-menu-desktop li {
      text-align: center;
   }
   
   .list-menu {
      margin-top: 18px;
      margin-bottom: 18px;
   }
   
   .dropdown {
      color: black;
      font-size: 10px;
   }
   
   .dropdown ul {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
   }
   
   .dropdown ul {
      display: none;
   }
   
   .dropdown.active ul {
      display: block;
   }
   
   label {
      margin-left: 10px;
      font-size: 13px;
      font-family: bold;
      margin-bottom: 10px;
   }
   
/*   .menu .menu-list {
      display: none;
   }
   
   .menu.active .menu-list{
      display: block;
   }*/
   
   .menu:hover {
      box-shadow: 0 0 13px rgba(0, 0, 0, .15);
   }
   
   /*.iframes {
      position: absolute;
      bottom: 0;
      transform: scale(0.25);
      transform-origin: 0 0;
      background: pink;
      width: 100vh;
      height: 100vh;
   }*/
}